@* @model IEnumerable<myWebApp.Areas.Products.Models.Products> *@
@* @ùodel myWebApp.Areas.Formulaires.Models.Formulaires *@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Area Formulaire Index page";
}
<div class="row">
    <form action="">
        <h2>Formulaire</h2>
    </form>
</div>